{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "include": ["./**/*.ts", "./**/*.js", "./.*.js"]
  },
  "root": true,
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "prettier/prettier": [
      "off",
      {
        "semi": true,
        "singleQuote": false,
        "trailingComma": "es5",
        "printWidth": 120
      }
    ],
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "no-console": "off"
  }
}
